.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1000ms cubic-bezier(0.16, 1, 0.3, 1), transform 1000ms cubic-bezier(0.16, 1, 0.3, 1);
  will-change: opacity, transform;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
