@use './variables.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #faf7fc;
  color: #43304d;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}